.galery-container{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   margin-top: 150px;


}


.galery-container img{
	border: ghostwhite solid 2px;
	margin: 5px;
	padding: 5px;
    widows: 100%;
    width: 350px;
    height:350px;
    object-fit: cover;

    

    

}
.subtitle{
    text-align: center;
    margin-top: 200px;
    font-size: 3.5rem;
    font-family: raleway;
    font-weight: 200;
    color: ghostwhite;
}